.appbar {
    background-color: #6c6a76;
}

.appbar>.navbar-brand  {
    color: white !important;
}

.appbar>div>a {
    color: white !important;
}

.appbar>div>span {
    color: white !important;
}

.auth-container {
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}